body {
    background-image: url("achtergrond.jpg");
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 100%;
}
#menu {
    margin: auto;
    margin-top: 50px;
    width: 60%;
    border: 3px solid yellow;
    padding: 10px;
}

.menuknop {
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;


}

.active {
    color: red;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
   
}


.title {
    color: yellow;  
    font-family: 'Franklin Gothic Medium';            
    width: 100%;
    height: 100px;
    background:none;
    position: absolute;
    font-size: 50px;

    }

div.images {
        position: relative;
        margin-top: -400px;
        left: -700px
    }
.image1 {
        position: absolute;
        margin-top: -100px;
        left: 5px;
    }
    .image2 {
        bottom: 0px;
        left: 20px;
    }

    .image3 {
        position: absolute;
        margin-top: -100px;
        right: 0px;
    }


.menuknop:hover {
        color: yellow;
    }


.changelog {
    color: white;
    font-family:'Franklin Gothic Medium';
    width: 200px;
    height: 200px;
    background: black;
    position: absolute;
    font-size: 15px;
    margin-left: -10px;
    margin-top: 450px;

    }

.footer {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        background-color: yellow;
        color: black;
        text-align: center;
        font-family: 'Franklin Gothic Medium';
        font-size: 15px;

    }

.footer2 {
        right: 0px;
        bottom: 0px;
        position: absolute;
        background-color: yellow;
        font-family: 'Franklin Gothic Medium';
        font-size: 15px;
    }

 .footer3 {
        left: 20px;
        bottom: 0px;
        position: absolute;
        background-color: yellow;
        font-family: 'Franklin Gothic Medium';
        font-size: 15px;
    }
    
    
.text {
        margin-top: 0px;
        margin-left: 0px;
        color: black;
        font-family: 'Franklin Gothic Medium';

    }

.btn {
        background-color: none;
        position: absolute;
        left: 0px;
        bottom: 0px;
        padding: 28px 20px;
        cursor: pointer;

    }

.header {
        width: 100%;
        text-align: center;
        background-color: none;
        color: yellow;
        font-family: 'Franklin Gothic Medium';
        font-size: 10px;
        position: absolute;
        top: 0px;


    }

.textovermij {
        background-color: none;
        position: absolute;
        text-align: center;
        color: yellow;
        font-family: 'Franklin Gothic Medium';
    }

.textporto {
    background-color: transparent;
    position: absolute;
    text-align: center;
    color: yellow;
    width: 100%;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    top: 200px;
}

.btn2 {
    background-color: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 28px 52px;
    cursor: pointer;
}

.comingsoon {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 700px;
    color: yellow;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
}